/*@font-face { font-family: proxima-nova; src: url('../fonts/proxima-nova.otf'); } 
@font-face { font-family: proxima-nova-bold; src: url('../fonts/proxima-nova-bold.otf'); }*/ 
html {
    position: relative;
   height: 100%;
    scroll-behavior: smooth;
}
body{
   /* font-family: proxima-nova;*/
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #ffff;
    overflow-x: hidden;
        font-size: 16px;
   color: #000305;
}
.bold{
    font-weight: 700;
    /*font-family: proxima-nova-bold;*/
}
.text-dark{
    color: #262626;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
.theme-color{
    color: #4BB4E1;
}
/* login */
.login-box{
     padding: 2rem 0;
 min-height: 100vh;
}
.ft-32{
    font-size: 32px;
}
.ft-23{
    font-size: 23px;
}
.ft-18{
    font-size:18px;
}
.form-group{
    margin-bottom: 25px;
}
.login-form-control{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #C7C7C7;
border-radius: 10px;
        padding: 8px 11px 9px 45px;

width: 100%;
}
.login-form-control:focus, .form-control:focus{
    border: 1px solid #000 !important;
}
.login-form-control::placeholder{
    color: #C7C7C7;
    }
.login-fc-icon{
    position: absolute;
        top: 46px;
    left: 14px;
}
.p-icon{
        width: 24px;
    top: 44px;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.login-bg{
      background-image: url(../img/login-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block;
    width: 100%;
}
/* The container */
.container1 {
    display: block;
    position: relative;
      padding-left: 33px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container1 .checkmark {
      position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 3px;
    border: 2px solid #727272;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
     background-color: #4bb4e1;
    border: 2px solid #4bb4e1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container1 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
        left: 7px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.table>tbody {
    vertical-align: middle;
}
.btn-theme{
  background-color: #3BB3F6;
    color: #fff;
    padding: 10px 25px 10px;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    min-width: 167px;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}
.btn-danger{
     padding: 13px 25px 11px;
border-radius: 5px;
}
.btn-theme:hover{
  color: #F2F7FF;
  opacity: 0.9;
}
.text-theme{
    color: #4475B4;
}
.s-footer.copyright{
color: #C7C7C7;
}
#sendinstructions .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 5rem 0rem;
}
.cr{
    cursor: pointer;
}

/* top nav */
.topnav {
  margin-left: 16rem;
    padding: 1.2rem;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000a;
    border: 1px solid #EBEBEB;
    border-left: 0px;}
.navbar {
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    position: fixed;
    width: 100%;
        background-color: #fff;
        z-index: 1;
}
.sidebar-left {
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 16rem;
    width: 16rem;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    box-shadow: inset -1px 0 0 rgb(18 38 63 / 5%);
    -moz-transition: width .3s ease-in-out, min-width .4s ease-in-out;
    -webkit-transition: width .3s ease-in-out, min-width .4s ease-in-out;
    -moz-transition: width .3s ease-in-out, min-width .4s ease-in-out;
    -o-transition: width .3s ease-in-out, min-width .4s ease-in-out;
    transition: width .3s ease-in-out, min-width .4s ease-in-out;
    background: #F8F9FA 0% 0% no-repeat padding-box;
    /* border: 1px solid #E1E1E1; */
    z-index: 2;
    background: #ffffff00 linear-gradient(180deg, #ffffff 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
    border-right: 1px solid #EBEBEB;
}
.sidebar-left-pad{
      padding: 30px 9px;
}
.main{
    margin-left: 16rem;
    overflow: hidden;
          padding: 5rem 1.5rem 1rem;
    min-height: 100vh;
    transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
     transition: all 0.3s ease-in-out;
}
.s-logo{
    margin-bottom: 40px;
}
.sidebar-ul{
       min-height: calc(100vh - 217px);
    overflow: auto;
}

.menu-toggle svg{
cursor: pointer;
}

.progile-dropdown .dropdown-toggle::after {
   display: none;
}
.avatar-img{
    width: 50px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #6c757d;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
}
.dot{
   position: absolute;
    height: 9px;
    right: 1px;
    top: 3px;
    width: 9px;
    content: "";
    border-radius: 50%;
    display: inline-block;
    background-color: #e91111 !important;
}
.notify-dropdown li{
padding: 5px 10px;
border-bottom: 1px solid #cccccc5e;
}
.notify-dropdown li:last-child{
    border-bottom: 0px solid #cccccc5e;
}
.notify-dropdown {
    width: 276px;
}
.op-8{
    opacity: 0.8;
}
.op-7{
    opacity: 0.7;
}
.sidebar-ul svg{
    margin-top: -5px;
}
.sidebar-ul ul li, .sm-logout{
      margin-bottom: 10px;
    padding: 7px 10px;
    transition: all 0.2s ease-in-out;
}
.sidebar-ul ul li:hover, .sm-logout:hover{
    background-color: #9cd8fa;
    border-radius: 6px;
}
.sidebar-ul ul li.active{
   background-color: #9cd8fa;
    border-radius: 6px;
}
.sm-icon-img{
        margin-top: -5px;
}
.sidebar-ul ul li a{
    transition: all 0.2s ease;
    
       display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}
.sm-logout{
     display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}
 .p-box{
        display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: center;
}
.sidebar-left.close1{
        min-width: 0rem;
    width: 0rem;
    transition: all .3s ease-in-out;
}
.main.open1{
    margin-left: 0rem;
}
.topnav.open1{
    margin-left: 0rem;
}
.colse-sidebar{
    display: none;
}
.sm-profile{
        width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    border4PX: SOLID #FFF;
    margin-bottom: 22px;
}
.sm-hr{
        border-color: #fff;
    margin: 2rem 0;
    background-color: #fff;
}
.main-content{
    min-height: calc(100vh - 137px);
}
.main-content{
    padding-bottom: 20px;
}
.dashboard-box{
    background: transparent linear-gradient(180deg, #4475B4 0%, #295287 100%) 0% 0% no-repeat padding-box;
border-radius: 10px;
padding: 40px;
text-align: center;
color: #fff;
font-size: 48px;
margin-bottom: 30px;

}
.form-control, .form-select{
    border-radius: 10px;
   
    padding: 9px 11px 11px 15px;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #99b7df;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.form-select:focus{
 box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.text-primary{
    color: #4475B4 !important;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4475b4;
    border-color: #4475b4;
}
.page-link {
    color: #4475b4;
}
.form-group{
    margin-bottom: 30px;
}
.form-control::placeholder{
    color: #C7C7C7;
}
textarea{
    resize: none;
}
.form-group label{
    opacity: 0.8;
}
.text-danger{
    color: #FC5656;
}
.sm-icon{
       
    width: 36px;

    display: inline-block;
    text-align: center;
    margin: auto;
}
.box001{
   background: #FCFEFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    padding: 0.4rem 2rem;
}



.drag-area .icon{
  color: #fff;
}
.drag-area header{
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}

.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.ft-18{
    font-size: 18px !important;
}
.btn-light {
    color: #000;
    background-color: #fff;
    border-color: #ced4da;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 8px 11px 9px 15px;
}
.btn-light:hover {
    color: #000;
    background-color: #fff;
       border-color: #99b7df;
}
.btn-check:active+.btn-light:focus, .btn-check:checked+.btn-light:focus, .btn-light.active:focus, .btn-light:active:focus, .show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgb(211 212 213 / 50%);
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #333!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}
.bootstrap-select .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4bb4e1;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
    padding: 8px;
}
.bootstrap-select .bs-ok-default:after {
    content: '';
    display: block;
    width: 0.5em;
    height: 15px;
    border-style: solid;
    border-width: 0 0.16em 0.16em 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.accordion-button:focus {
    z-index: 3;
    border-color: #0da9ec;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}
.accordion-button:not(.collapsed) {
    color: #00618b;
    background-color: #c9efff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.s-icon{
    position: absolute;
      top: 14px;
    left: 18px;
}
thead tr{
        
    font-weight: normal;
}
.page-link {
   padding: 0.2rem 0.6rem;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    margin: 0px 6px;
}
.pagination .page-item:first-child .page-link{
    background-color: #4BB4E1;
    border-color: #4BB4E1;
    color: #fff;
}
.pagination .page-item:last-child .page-link{
    background-color: #4BB4E1;
    border-color: #4BB4E1;
    color: #fff;
}
.page-item.active .page-link {
    z-index: 3;
    color: #47618b;
    background-color: #c9efff;
    border-color: #c9efff;
}

.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container2 .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
      border: 2px solid #727272;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark {
      background-color: #eeeeee;
    border: 2px solid #12abec;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.container2 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark:after {
        top: 4.5px;
       left: 4px;
    width: 14px;
    height: 13px;
    border-radius: 50%;
    background: #4bb4e1;
}

.menu-toggle{
  display: none;
}
/*.close1{
        transition: all .3s ease-in-out;
}*/
.table>:not(caption)>*>* {
    padding: 0.5rem 1rem;
}
.btn-theme.bg-grey{
background-color: #000000cc;
}
.mt-23{

    margin-top: -23px;

}
.mt-10{
    margin-top: -10px;
}
.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

/* CSS */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}
